mixin coinDetails(details = {})
  ul.coin-card__details__list
    li.coin-card__details__item
      a(href=details.poolWebsite target="_blank")
        button(tooltip="Payouts history" tooltip-position="bottom")
          i(class="far fa-money-bill-alt fa-3x")
    li.coin-card__details__item
      a(href=details.delegate)
        button(tooltip="Delegate info" tooltip-position="bottom")
          i(class="fas fa-server fa-3x")
    li.coin-card__details__item
      a(href=details.mainWebsite target="_blank")
        button(tooltip="Project's website" tooltip-position="bottom")
          i(class="fas fa-home fa-3x")
    li.coin-card__details__item
      a(href=details.h target="_blank")
        button(tooltip="Community chat" tooltip-position="bottom")
          i(class="fas fa-comments fa-3x")