// Fonts
$base-font-family: "Open Sans", sans-serif;
$base-font-size: 16px;

// Colors
$background-color: #e1e2e1;
$main-font-color: #343434;

$oxycoin-primary-color: #4887e6;
$shift-primary-color: #2e5670;
